@font-face {
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Bold.ttf'), url('fonts/TTLakes-Bold.ttf') format('truetype'), url('fonts/TTLakes-Bold.ttf') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT LakesMed';
    src: url('fonts/TypeType - TTLakes-Medium.otf'), url('fonts/TypeType - TTLakes-Medium.otf') format('truetype'), url('fonts/TypeType - TTLakes-Medium.otf') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TT LakesReg';
    src: url('fonts/TTLakes-Regular .ttf'), url('fonts/TTLakes-Regular .ttf') format('truetype'), url('fonts/TTLakes-Regular .ttf') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 0 auto 0 0;
    min-width: 320px;
    max-width: 350px;
    background-color: #FFFFFF;
    box-shadow: -2px 0 4px rgba(69, 79, 126, 0.02), 16px 0 52px rgba(14, 24, 80, 0.2);
}

.head{
    display: flex;
    padding-left: 24px;
    padding-top: 18px;
    padding-right: 24px;
    align-items: center;
    margin-bottom: 45px;
}

.appearance{
    width: 40px;
    height: 40px;
    cursor: pointer;

    border-radius: 50%;
    background-color: #FF3E79;
    background-position: center;
    background-repeat: no-repeat;
    border: #FF3E79 solid 1px;
}

.head__to-close{
    background-image: url("img/to_close.svg");
    margin-right: 16px;
}

.head__search{
    background-image: url("img/search.svg");
    margin-left: auto;
}

.the-essence{
    padding-left: 24px;
}

.services{
    position: relative;
}

.services__variants{
    display: block;
    cursor: pointer;
    margin-bottom: 32px;

    border: #FFFFFF solid 1px;
    background: #FFFFFF;

    font-family: 'TT LakesReg', sans-serif;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.2px;
    font-size: 16px;
    color: #1B1C21;
;
}

.services_bottom{
    margin-bottom: 85px;
}

.services__variants:hover{
    color: #7E7E82;
    opacity: 0.9;
}

.services__variants:focus{
    outline: none;
    color: #7E7E82;
    opacity: 0.9;
    transition-duration: 0.1s;
}

.services__variants:before{
    content: '';

    width: 4px;
    height: 32px;
    position: absolute;
    left: -24px;

    background: #41F6D7;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;

    opacity: 0;
    transition:  opacity 0.1s linear;
}

.services__variants:hover:before{
    opacity: 1;
}
.services__variants:focus:before{
    opacity: 1;
    transition:  opacity 0.2s linear;
}

.connect{
    margin-bottom: 16px;
}

.connect > .appearance{
    margin-right: 16px;
}

.connect__telephone{
    background-image: url("img/tel.svg");
}

.connect__message{
    background-image: url("img/messages.svg");
}

.connect__man{
    background-image: url("img/man.svg");
}

.contact{
    margin-bottom: 40px;
}

.contact_view{
    line-height: 24px;
    font-size: 16px;
    font-family: 'TT LakesReg', sans-serif;
    letter-spacing: -0.2px;
    font-weight: 700;
    color: #1B1C21;
    text-decoration: none;
    display: block;
}

.contact__mail{
    margin-bottom: 12px;
}

.contact__tel{
    line-height: 32px;
    font-size: 24px;
    letter-spacing: -0.6px;
    font-family: "TT Lakes", sans-serif;
}

.language{
    margin-bottom: 32px;
}

.language__choice{
    width: 25px;
    height: 24px;
    cursor: pointer;

    line-height: 24px;
    font-size: 16px;
    font-family: 'TT LakesReg', sans-serif;
    letter-spacing: -0.2px;
    font-weight: 700;
    text-align: center;

    border: #FFFFFF solid 1px;
    background:#FFFFFF;
    
    margin-right: 7px;
}

.language__choice:hover{
    color: #7E7E82;
}

.language__choice:focus{
    color: #7E7E82;
}

footer{
    padding-left: 24px;
    border-bottom: 1px solid #FFFFFF;
}