@font-face {
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Bold.ttf'), url('fonts/TTLakes-Bold.ttf') format('truetype'), url('fonts/TTLakes-Bold.ttf') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT LakesMed';
    src: url('fonts/TypeType - TTLakes-Medium.otf'), url('fonts/TypeType - TTLakes-Medium.otf') format('truetype'), url('fonts/TypeType - TTLakes-Medium.otf') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TT LakesReg';
    src: url('fonts/TTLakes-Regular .ttf'), url('fonts/TTLakes-Regular .ttf') format('truetype'), url('fonts/TTLakes-Regular .ttf') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 0 auto 0 0;
    width: 320px;
    background-color: #FFFFFF;
    box-shadow: -2px 0 4px rgba(69, 79, 126, 0.02), 16px 0 52px rgba(14, 24, 80, 0.2);
}

.head{
    display: flex;
    padding-left: 24px;
    padding-top: 23px;
}

.transition{
    width: 40px;
    height: 40px;
    cursor: pointer;

    border-radius: 50%;
    background-color: #FF3E79;
    background-position: center;
    background-repeat: no-repeat;
    border: #FF3E79 solid 1px;
}

.head__to-close{
    background-image: url("img/to_close.svg");
    margin-right: 16px;
}

.head__search{
    background-image: url("img/search.svg");
}

.logo{
    margin-right: 78px;
    transform: translateY(-6px);
}

.the-essence{
    padding-left: 24px;
}

.services{
    padding-top: 25px;
    height: 660px;
    position: relative;
}

.services__variants{
    display: block;
    padding-top: 32px;
    cursor: pointer;

    border: #FFFFFF solid 1px;
    background: #FFFFFF;

    font-family: 'TT LakesReg', sans-serif;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.2px;
    font-size: 16px;
}

.services__variants:last-child{
    margin-bottom: 0;
}

.services__variants:hover{
    color: #7E7E82;
    opacity: 0.9;
}

.services__variants:focus{
    outline: none;
    color: #7E7E82;
    opacity: 0.9;
    transition-duration: 0.1s;
}

.services__variants:before{
    content: '';

    width: 4px;
    height: 32px;
    position: absolute;
    left: -24px;

    background: #41F6D7;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;

    opacity: 0;
    transition:  opacity 0.1s linear;
}

.services__variants:hover:before{
    opacity: 1;
}
.services__variants:focus:before{
    opacity: 1;
    transition:  opacity 0.2s linear;
}


.connect > .transition{
    margin-right: 16px;
}

.connect__telephone{
    background-image: url("img/tel.svg");
}

.connect__message{
    background-image: url("img/messages.svg");
}

.connect__man{
    background-image: url("img/man.svg");
}

.connection{
    line-height: 24px;
    font-size: 16px;
    font-family: 'TT LakesReg', sans-serif;
    letter-spacing: -0.2px;
    font-weight: 700;
    color: #1B1C21;
    text-decoration: none;
    display: block;
}

.tel{
    line-height: 32px;
    font-size: 24px;
    letter-spacing: -0.6px;
    font-family: "TT Lakes", sans-serif;
    padding-top: 12px;
}

.language__choice{
    width: 25px;
    height: 24px;
    cursor: pointer;

    line-height: 24px;
    font-size: 16px;
    font-family: 'TT LakesReg', sans-serif;
    letter-spacing: -0.2px;
    font-weight: 700;
    text-align: center;

    border: #FFFFFF solid 1px;
    background:#FFFFFF;

    padding: 40px 0 0 0;
    margin-right: 7px;
}

.language__choice:hover{
    color: #7E7E82;
}

.language__choice:focus{
    color: #7E7E82;
}

footer{
    padding-top: 16px;
    padding-left: 24px;
    height: 170px;
}